

@media(min-width:768px) and (max-width:991px) {
    body{
        background-color: blue;
    }
    nav div a {
        display: none;
    }
 

}

@media(max-width:767px) {
    body{
        background-color: yellow;
    }
    nav div a {
        display: none;
    }


    


header .contents span {
    font-size: 30px;
    font-family: shadows into light, cursive;
    display: block;
    margin-top: 125px;
}

header .contents h2 {
    font-family: source sans pro, sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 20px;
    margin-bottom: 25px;
}

header .contents p {
    font-family: shadows into light, cursive;
    font-size: 20px;
    margin-top: 30px;
}

 
  
}